@import 'index.scss';

.text-area {
  display: block;
  width: 80%;
  margin-left: 10%;
  height: 6em;
  font-size: 2em;
  margin-bottom: 1em;
  font-weight: bold;
}

.error {
  border: solid 10px red;
}
