$main-color: #ff337a;
$second_color: #ff69b4;

.container {
  margin-left: 10%;
  width: 80%;
}

.centered {
  text-align: center;
}

.sub-title {
  border: 0.1em solid $main_color;
  border-radius: 10em;
  padding: 0.2em;
  font-size: 2em;
  font-weight: bold;
  color: $second_color;
  width: 50%;
  margin-left: 25%;
  margin-top: 1em;
  margin-bottom: 1em;
}
